*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release/app-release.apk
/app/release/V0114.apk
/app/release/VideoDowload-V0113.apk
